*{
    margin: 0;
    padding: 0;
}

.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #8278da, #121c84);
}

.right-nav{
    display: flex;
}

.right-nav a{
    margin: 1rem;
    color: #ffffff;
}

.left-nav{
    margin-left: 1rem;
}

button {
    padding: 10px;
    background: #3b8ee2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}